{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>{% block title %}bookapp{% endblock %}</title>

  <style>
    .user-authenticate {
      margin-left: 190px;
    }
  </style>

</head>

<body style="background-color:hsla(114, 22%, 72%, 0.932) ;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../media/booklogo.jpg" alt="logo" height="40px" style="object-fit: cover; margin-right: 15px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Lumbini ICT Campus <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'uploadform' %}">Upload-Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'email' %}">Email</a>
        </li>


        <div class="user-authenticate">
          {% if user.is_authenticated %}
          <div class="navbar-text text-black travel">Hello {{user.username}}. Welcome❤️</div>
          {% endif %}
        </div>

      </ul>



      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </nav><br>
  <center>
    <h1><b>LIBRARY</b></h1>
  </center>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


  <div class="container-fluid">
    {% block content %}

    <h4 class="text-center p-5">Lumbini ICT Campus- The Best Campus To Learn
      Computer Science and Technology In Nepal.</h4>

    <div class="card-footer bg-transparent border-dark"></div>

    <div class="card-columns" style="display: grid; grid-template-columns: repeat(5,1fr); gap: 0;  ">
      {% for book in transfer %}
      <div class="card " style="width: 18rem;background-color:rgb(216, 240, 215);height: auto ;
    padding:8px; border-radius:10px; margin:10px">
        <img class="card-img-top" src="{{ book.picture.url }} " style="height:200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ book.name }}</h5>
          <p class="card-text">{{ book.description }}</p>
          <div class="card-footer bg-transparent border-dark">
            <p class="card-title">{{ book.author }}</p>
            <center>
              <a href="update/{{book.id}}" class="btn btn-primary" id="{{book.id}}">Edit</a>
              <a href="delete/{{book.id}}" class="btn btn-danger" id="{{book.id}}">Delete</a>
            </center>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
    {% endblock %}
  </div>

</body>

</html>